<section id="tabla" style="margin-top: 60px;">
  <div>
      <button *ngIf="isLogged" type="button" class="btn btn-primary " (click)="agregar(0)">Agregar</button>
      <hr>
  </div>
  <div>
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>

                  <th scope="col">DNI</th>

                  <th scope="col">Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let i of personas">
                  <td>{{i.id}}</td>
                  <td>{{i.nombre}}</td>
                  <td>{{i.apellido}}</td>

                  <td>{{i.dni}}</td>

                  <td>
                      <button *ngIf="isLogged" type="button" class="btn btn-danger" (click)="delete(i.id)">Eliminar</button>
                      <button *ngIf="isLogged" type="button" class="btn btn-warning" (click)="update(i.id)">Editar</button>
                  </td>

              </tr>
          </tbody>
      </table>
  </div>
</section>
